// Deploy trigger
service cloud.firestore {
  // Force Update 2026-01-23 10:25
  match /databases/{database}/documents {
    match /decisions/{decisionId} {
      allow read: if debug(request.app) != null || true;
      allow write: if false; // Only manageable via Cloud Functions
      
      match /finalVotes/{userId} {
        allow read: if debug(request.app) != null || true;
        allow write: if false;
      }

      match /arguments/{argumentId} {
        allow read: if debug(request.app) != null || true;
        allow write: if false;
        
        match /votes/{userId} {
          allow read: if debug(request.app) != null || true;
          allow write: if false;
        }
      }
      
      match /participants/{userId} {
        allow read: if debug(request.app) != null || true;
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
