rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /decisions/{decisionId} {
      allow read, write: if true;
      
      match /finalVotes/{userId} {
        allow read, write: if true;
      }

      match /arguments/{argumentId} {
        allow read, write: if true;
        
        match /votes/{userId} {
          allow read, write: if true;
        }
      }
      
      match /participants/{userId} {
        allow read: if true;
        allow write: if false; // Only manageable via Cloud Functions
      }
    }
  }
}
